<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do List</title>
    </head>
    <body><center>
        <h1> {{ category.getName }} </h1>

        {% if tasks is not empty %}

            <ul>
                {% for task in tasks %}
                    <p>{{ task.getDescription }}</p>
                {% endfor %}
            </ul>
        {% endif %}

        <h4> Add a task to this category </h4>

        <form action='/add_tasks' method='post'>
            <input id='category_id' name='category_id' type='hidden' value='{{ category.getId }}'>
            <label for='task_id'>Select a task</label>
            <select id='task_id' name='task_id' type='text'>
                {% for task in all_tasks %}
                    <option value="{{ task.getId }}">{{ task.getDescription }}</option>
                {% endfor %}
            </select>
            <button type='submit' class='btn btn-warning btn-xs'>Add task</button>
        </form>

        <p><button type="submit" class='btn btn-info'><a href='/categories/{{ category.getId }}/edit'>Edit this category</a></button></p>

        <p><button type='submit' class='btn btn-info'><a href='/'>Home</a></button></p>

    </center></body>
</html>
